<% content_for :title, " - Configurations" %>

<h1>Risk Configurations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @risk_configurations.each do |risk_configuration| %>
  <tr>
    <td><%= link_to risk_configuration.name, risk_configuration %></td>
    <td><%= button_to 'Rename', edit_risk_configuration_path(risk_configuration), :method => :get %></td>
    <td><%= button_to 'Delete', risk_configuration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Risk configuration', new_risk_configuration_path, :method => :get %>
