/* Custom */
a {
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
}



body {
        background: rgb(252,252,253);
        padding-bottom: 50px;
	margin:0;
	padding:0;
        -webkit-font-smoothing: antialiased;
        font-family: 'Open Sans', verdana, Arial, sans-serif;
}



div#main, nav ul, header h1 {
        margin: 0 auto;
        width: 800px;
        padding: 10px 30px 10px 30px;
}

header.main {
        color: #ddd;
        border: 1px solid #ddd;
        xpadding-top:   10px;
        xpadding-bottom: 10px;
        background: rgb(16,16, 143);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(16,16,143)), color-stop(0.75, rgb(36,36,171))) ;
        background: -moz-linear-gradient(center bottom, rgb(16,16,143) 0%, rgb(36,36,171) 75%);
}
header.main h1 {
        font-size: 2em;
        margin-bottom: -1px;
        padding-top: 20px;
        padding-bottom: 20px;
}
header.main h1 a, header.main h1 a, header.main h1 a:visited {
        color: #fff;
        display: block;
}
header.main h1 strong {
        font-size: 0.75em;
}
header.main h1 .userinfo {
        float: right;
        font-size: 10px;

}
header.main h1 .userinfo img{
        vertical-align: middle;
        margin-left: 16px;
}

nav {
        padding: 0px 0px 0px 0px;
        display: block:
        clear: both;
        font-weight: bold;
}

nav, nav ul, .pseudo {
        background: rgb(238,238,238);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(242,238,238)), color-stop(0.75,
rgb(252,248,248)));
        background: -moz-linear-gradient(center bottom, rgb(242,238,238) 0%, rgb(252,248,248) 75%);

}

nav ul {
        height: 1.2em;
        border-bottom: 1px solid #eee;
        clear: both;
		list-style:none;
}

nav li {
        width: 25%;
        float: left;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
		list-style:none;
}

p {
        margin-bottom: 0.5em;
}

div#main, nav ul, header h1 {
        z-index: 20;
        position: relative;
        clear: both;
        -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

div#main {
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 40px;
        min-height: 400px;
}

h2 {
        font-size: 1.5em;
        padding: 20px 0px 10px 0px;
}
.tooHigh, .tooHigh a {
	color: #dd0000;
        font-weight: bold;
}
th {
	text-align: left;
}
td , th{
	padding-right: 10px;
}

.versions , .versions td, .versions th{
	margin-top: 20px;
	color: #888;
	font-size: 90%;
}

.risk_list {
	margin: 30px 0px 20px 30px;
	border-collapse: collapse;
}

.risk_list tr:first-child th{
	border-bottom: 1px solid #999;
}
.risk_list tr th:first-child{
	border-right: 1px solid #999;
}

.risk_list td span{
	color: #009900;
}


.risk_list th.impact {
	text-align: center;
}

.risk_list td {
	text-align: right;
	min-width: 55px;
	padding-right:45px;
}


h2 {
	margin-bottom: 0px;
}

.action {
        margin: 5px 0px 10px 0px;
        padding-left: 50px;
}
.action img.avatar {
        float: left;
        margin-left: -50px;
}
.action .attachment img {
        display: block;
}

.action .author {
        font-weight: bold;
        font-size: 110%;
}
.action .date {
        font-style: italic;
        color: #999;
}
.action .comment {
        font-style: italic;
}
.action .change p, .action .change ul, .action .comment p {
        margin: 0;
        padding: 0;
}
.action .change ul {
        margin-left: 20px;
}
.action .change ul li {
        padding: 0;
        margin: 0;
}

h3 {
        margin-top: 20px;
}

form.comment {
        margin: 0px 0px 20px 0px;
}
form.comment textarea {
        display: block;
        width: 78%;
        height: 50px;
}
label {
        font-weight: bold;
}

p[contenteditable] {
        margin: 0;
        padding: 1em;
}


[contenteditable]:active,[contenteditable]:focus, textarea {
        border: 1px solid #999;
        padding: 3px;
        outline: none;

}
[contenteditable] + button.edit {
        display: none;
}
[contenteditable]:active + button.edit, [contenteditable]:focus + button.edit,
button.edit:active, button.active:focus {
        display: block;
}
#descriptioneditor textarea, #mitigationeditor textarea {
        width: 78%;
        height: 6em;
}

#descriptioneditor button, #mitigationeditor button {
        display: block;
}
h1 button.edit {
        margin-top: 5px;

}
.add_button.visible + button.add {
        display: none;
}

.checklist {
        margin-bottom: 15px;
}
.checklist h4 {
        margin-bottom: 0px;
}
.checklist ul {
        margin: 3px 0px 3px 10px;
        padding: 0;
        list-style: none;
}
.checklist ul li {
        margin: 0;
        padding: 0;        
}
.checklist ul li .add, .checklist ul li form {
        margin: 3px 0px 0px 0px;
        
}
.checklist input[type="checkbox"]:checked + span{
        font-style: italic;
        text-decoration: line-through;
        color: #999;
}

.risks {
        border-collapse: collapse;
        margin-bottom: 5px;
        margin-left: 0px;
}
.risks tr > *:first-child {
        padding-left: 5px;
}
.risks tr:nth-child(2n) {
        background: #f4f4f4;       
}
.infocontainer {
        float: right;        
        width: 150px;
}
.infocontainer label {
        display: block;
}
.infocontainer input[type="file"] {
        width: 150px;
}


.riskbody {
        margin-right: 160px;
}
.riskbody ul {
        margin: 0px 0px 3px 0px;
        padding-left: 20px;
}
.riskbody p {
        margin: 0px 0px 2px 0px;
}

li.tag, .ui-autocomplete li { 
        font-style: normal;
        display: block;
        padding: 2px 6px 2px 6px;
        border: 1px solid #999;
        margin: 1px 1px 1px 1px;
        border-radius: 3px;
        background: rgb(200,200,255);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(180,180,255)), color-stop(0.75, rgb(230,230,255))) ;
        background: -moz-linear-gradient(center bottom, rgb(180,180,255) 0%, rgb(230,230,255) 75%);
}
.tags li.tag:hover,  .ui-autocomplete li:hover {
        background: rgb(10,10,10);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(10,10,10)), color-stop(0.75, rgb(50,50,50))) ;
        background: -moz-linear-gradient(center bottom, rgb(10,10,10) 0%, rgb(30,30,30) 75%);
        cursor: pointer;
}
.tags li.tag:hover a, .tags li.tag:hover {
        color: rgb(250,250,250);
}
li.tag a.delete {
        xfloat: right;
}
.tags li.tag {
        float: left;
}
li.tag a {
        text-decoration: none;
        background: none;
        color: #000;
}
.tags {
        margin: 0;
        padding: 0;
        list-style: none;
}
#tag_field {
        margin: 3px 1px 1px 1px;
        width: 120px;
}
.tagFilter, .searchFilter {
        font-style: italic;
        margin: 5px 0px 15px 10px;
}
.searchFilter span {
        font-weight: bold;
}

.tagFilter li.tag {
        display: inline;
}
li.tag a {
        margin-left: 10px;
        font-weight: bold;
}
.ui-autocomplete {
        margin: 0;
        padding: 0;
        width: 150px;
}
.ui-autocomplete li {
        width: 100px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0,0.5);
}
.ui-autocomplete li a {
        display: block;
}

.buttonBar div, .buttonBar form {
        display: inline;
}

.graphContainer {
        overflow: auto;
        width: 800px;
        height: 170px;
        cursor: zoom;
}

/*
.low {
        background: rgba(16,143,16, 0.5);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(16,143,16, 0.5)), color-stop(0.75, rgba(36,171,36, 0.5))) ;
        background: -moz-linear-gradient(center bottom, rgba(16,143,16, 0.5) 0%, rgba(36,171,36, 0.5) 75%);
}
.medium {
        background: rgba(143,143,16, 0.5);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(143,143,16, 0.5)), color-stop(0.75, rgb(171,171,36, 0.5))) ;
        background: -moz-linear-gradient(center bottom, rgba(143,143,16, 0.5) 0%, rgba(171,171,36, 0.5) 75%);
}
.high {
        background: rgba(143,16,16, 0.5);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(143,16,16, 0.5)), color-stop(0.75, rgb(171,36,36, 0.5))) ;
        background: -moz-linear-gradient(center bottom, rgba(143,16,16, 0.5) 0%, rgba(171,36,36, 0.5) 75%);
}
*/
