<h1>Users</h1>
<table>
	<% User.find(:all).each do |u| %>
		<tr>
			<td><img src="<%= u.gravatar_url(40) %>"></td>
			<td><strong><%= u.full_name %></strong></td>
			<td><%= u.approved? ? "approved" : "not approved" %></td>
			<td><%= u.role.presence || "regular user" %></td>
		</tr>

	<% end %>
</table>
