<h1>Risk tracker</h1>
<ul>
    <% if current_user.is_admin? then %>
    	<li><%= link_to "List available configurations", risk_configurations_path %><br>
    <% end %>
    <li><%= link_to "Projects", projects_path %>
</ul>