<% content_for :title, " - " << current_project.name << " \\ " << @risk.id.to_s %>
<p id="notice"><%= notice %></p>

<%= link_to current_project.name, project_path(current_project) %>  &gt; New risk
<h1>New risk</h1>

<%= render 'form' %>

<%= link_to 'Back', project_path(current_project) %>
