<% content_for :title, " - " << current_project.name << " \\ " << @risk.risk_id.to_s %>
<p id="notice"><%= notice %></p>

<% @breadcrumbs.push(["Risks", project_risks_path(current_project)]) %>
<% @breadcrumbs.push(["New", ""]) %>
<%= render 'layouts/breadcrumb' %>


<h1>New risk</h1>

<%= render 'form' %>

<%= link_to 'Back', project_path(current_project) %>
