<% content_for :title, " - Login" %>

<h1>Login</h1>

Login with<br><a href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>/auth/google_oauth2">
<img src="https://www.google.com/intl/en/images/logos/accounts_logo.gif">
</a> 
<br><br>