<% content_for :title, " - Login" %>

<h1>Login</h1>

Login with<br><a href="<%= login_google_path %>">
<img src="https://www.google.com/intl/en/images/logos/accounts_logo.gif">
</a> 
<br><br>
Login with<br><a href="<%= oauth_new_path %>">
    
    </a>